body {
    font-family: "Open Sans", sans-serif;
    background-color: rgba(210,205,255)
}

h1,
h2,
h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: darkorange;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: url(/img/jumbotron.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    color: yellow;

}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: darkred;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}

.breadcrumb {
    background-color: rgb(0,123,255);
}

.breadcrumb li a{
    color : black;  
}

.breadcrumb >.active {
    color : white;  
}

.half-opacity {
    opacity: 0.5;
}